/* 
    Created on : 29/11/2018, 22:51:49
    Author     : Alexandre Krabbe
*/

body {
    overflow-y:scroll;
}

.container{
    margin: 3em auto;
}

.nav-btn {
    display: inline-block;
    color: white;
    font-size: 2em;
    margin: 0 0.5em;
    text-decoration: none;
}

.nav-btn span{
    font-size: 0.4em;
    margin-left: 0.3em;
    display: inline-block;
    position: relative;
    top: 2px;    
}

.nav-btn:hover {
    text-decoration: none;
    color: #333333;
}

.nav-item-bkg {
    border-radius: 100px;
    background: rgba(255,255,255,0);
    margin: 0 0.5em;
    transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
}

.nav-item-bkg:hover {
    background: rgba(255,255,255,0.9);
    color: black !important;
}

.transparent-btn {
    background: transparent;
    border: none !important;
    cursor: pointer;
}

.shoppingcart{
    width:40px;
    height:40px;
    position:relative;
    font-family: 'Comfortaa', cursive;
}

.cartitems {
    border-radius: 50px;
    width: 50%;
    height: 50%;
    line-height: 120%;
    text-align: center;
    color:#fff;
    font-size:50%;
    background-color:#e74c3c;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(10%,10%);
    -moz-transform:translate(10%,10%);
    transform:translate(10%,10%);
    padding:0 12%;
}
