/* 
    Created on : 28/11/2018, 17:35:41
    Author     : Alexandre Krabbe
*/

.search {
    margin: 0 auto 3em;
}

.search input {
    border-radius: 3em;
    height: 2.5em;
    font-size: 1.3em;
}

#search-result-paragraph {
    text-align: center;
}

.search input::-webkit-input-placeholder {
   text-align: center;
}

.search input:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

.search input::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

.search input:-ms-input-placeholder {  
   text-align: center; 
}

.card-img-top {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.play-btn {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.card:hover .image {
    opacity: 0.3;
}

.card:hover .play-btn {
    opacity: 1;
}

.add-cart-btn-ico {
    color: #666666;
    font-size: 3em;
    cursor: pointer
}

.card-body {
    margin: 0 0.5em !important;
}

.card-body p {
    margin-bottom: 0;
}

#error-container {
    margin: 0 auto;
}

.notfound {
    margin: 0 auto;
}

.notfound .notfound-404 h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 186px;
  font-weight: 900;
  margin: 0px;
  text-transform: uppercase;
  background: url('../img/text.png');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

.notfound h2 {
    text-align: center;
    font-size: 1.6em;
    color: #666666;
}

.rating {
    text-align: end;
}